// padding & margin

$button-padding: 0.6em 1.2em;
$block-padding_desktop: 0px 100px;
$block-padding_mobile: 0px 20px;
$section-padding_desktop: 4rem;
$section-padding_mobile: 9rem;
$Component-form-label-margin_desktop: 30px;
$Component-form-label-margin_mobile: 40px;

// fonts

$button-font-size: 1em;
$button-font-weight: 500;
$font-size_mobile: xx-large;
$hello-font-size: 8rem;
$hello-font-weight: 300;

// sizes

$data-box-height_mobile: 65vh;
$data-box-height_desktop: 75vh;